*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.banner{
    
    text-align: center;
    margin: 0 auto;
}

.max{
    max-width: 100%;
    padding: 20px;
}

.max2{
    max-width: 100%;
    padding: 20px;
    
}
.max3{
text-align: center;
background-color: blue;
padding: 20px 0 20px 0;


}

.btn{
    text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
   
}
.btn button{
    padding: 15px 60px;
    background-color: #fff;
    
}
.btn button a{
    color: black;
    font-size: 40px;
    
}
